<div class="specialDay">
    {{#if exercisesList}}
        <div class="dayTable">
            <table>
                <tr>
                    <th>ADI</th>
                    <th>AĞIRLIK (KG)</th>
                    <th>SETLER</th>
                    <th>TEKRARLAR</th>
                </tr>

                {{#each exercisesList}}
                    <tr>
                        <td class="regularCell">{{ name }}</td>
                        <td class="regularCell">{{ weight }}</td>
                        <td class="regularCell">{{ sets }}</td>
                        <td class="regularCell">{{ reps }}</td>

                        <td class="buttonCell">
                            <form method="GET" action="/editexercise/{{slug}}">
                                <button type="submit">
                                    <input type="hidden" name="requiredExercise" value="{{ _id }}">GÜNCELLE
                                </button>
                            </form>
                        </td>
                        <td class="buttonCell">
                            <form method="POST" action="">
                                <button type="submit">
                                    <input type="hidden" name="deletedExercise" value="{{ _id }}">SİL
                                </button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
        
        <br>

        <div class="dayButtonContainer">
            <a href="/{{ day }}/add">
                <button>YENİ EGZERSİZ EKLE</button>
            </a>
        </div>
    {{else}}
        <div class="specialButtonContainer">
            <a href="/{{ day }}/add">
                <button>YENİ EGZERSİZ EKLE</button>
            </a>
        </div>
    {{/if}}
</div>
    <footer>
        Footer Content
    </footer>